<%= link_to "MYSJ Home", '#', id: "logo" %>
<ul>
	<% if signed_in? %>
		<li><%= link_to "Students", students_path %></li>
		<li><%= link_to "My info", current_student %></li>
		<li><%= link_to "Settings", edit_student_path(current_student) %></li>
		<li><%= link_to "Sign out", signout_path, method: "delete" %></li>
	<% else %>
		<li> <%= link_to "Sign in", signin_path %></li>
	<% end %>
</ul>